.post {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-left: 8%;
    padding-top: 3;
    margin: 3%;
    box-shadow: 13px 16px 27px 0px rgba(0,0,0,0.61);
    .description {
      position: absolute;
      color: black;
      font-size: 1.2vw;
      font-weight: 400;
      text-align: justify;
      padding-top: 0%;
    }
    .account-balance {
        color: black;
        font-size: 3vW;
        font-weight: 400;
        margin-bottom: 0%;
    }
    .text-bot{
        color: black;
        padding-top: 0%;
        font-size: 1vw;
    }
    @media (max-width: 768px) {
        font-size: 2vW;
        font-weight: 100;
        text-align: justify;
        word-wrap: break-word;
      }
  }
  