.dash {
    background-color: white;
  }

  .title {
      padding: 1%;
      margin-left: 20%;
      margin-bottom: 3%;;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2%;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 3%;
    .card {
      flex-basis: calc(calc(100% / 3) - calc(4px * 2));
      margin: 0 4px;
      margin-top: 2%;
      @media (max-width: 768px) {
        flex-basis: 100%;
      }
    }
  }
  