.content-table {
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 13px 16px 27px 0px rgba(0,0,0,0.61);
    padding: 2%;
    .table {
        border-collapse: collapse;
        width: 100%;
        padding: 5%;
        th, td{
            padding: 0.8%;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }        
    }
    @media (max-width: 768px) {
        font-size: 2vW;
        font-weight: 100;
        text-align: justify;
        word-wrap: break-word;
      }
}